# Database
DATABASE_URL=postgresql://user:password@localhost:5432/easyphrf

# Clerk Auth
CLERK_SECRET_KEY=your_clerk_secret_key
VITE_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key

# App
PORT=3001
NODE_ENV=development
CLIENT_URL=http://localhost:5173
